<div class="card p-20 animated fadeIn slow delay-1">
  <h4 class="color-gray">لیست اشتراک های خریداری شده تا کنون</h4>
  <hr>
  <div class="data">
    <table class="table bordered sky-dark">
      <thead>
        <tr>
          <th width="30px">#</th>
          <th>عنوان تراکنش</th>
          <th>تاریخ پرداخت</th>
          <th>مقدار پرداختی</th>
          <th>وضعیت پرداخت</th>
        </tr>
      </thead>
      <tbody *ngIf="items?.length; else elseBlock">
        <tr *ngFor="let item of items; let index = index">
          <td>{{index + 1}}</td>
          <td>{{item.title}}</td>
          <td>{{item.creationTime | jalali}}</td>
          <td>{{item.amount}} تومان</td>
          <td class="bg-{{getColor(item)}}">{{item.status.value}}</td>
        </tr>
      </tbody>
      <ng-template #elseBlock>
        <tbody>
          <tr>
            <td colspan="5">
              <div *ngIf="progress" class=" color-black-light font-13">در حال بارگزاری ...</div>
              <div *ngIf="!progress">موردی یافت نشد</div>
            </td>
          </tr>
        </tbody>
      </ng-template>
    </table>
  </div>
</div>
