:host {
  display: flex;
  flex-direction: row;
  padding: 10px 15px;
  color: #777;
  font-size: 13px;
  background-color: #f9f9f9; }
  :host > li {
    display: flex;
    flex-direction: row; }
    :host > li:not(:first-child)::before {
      content: '/';
      padding: 0 5px; }

/*# sourceMappingURL=alert.component.css.map */
