:host() {
    display: flex;
    flex-direction: row;
    padding: 10px 15px;
    color: #777;
    font-size: 13px;
    background-color: #f9f9f9;
    >li {
        display: flex;
        flex-direction: row;
       &:not(:first-child)::before { content: '/'; padding: 0 5px; } 
    }
}