<div class="ss-overlayer" [ngClass]="{'ss-show':modal?.isopen}">
    <div class="ss-dialog" [ngClass]="{dragging: dragging}" [ngStyle]="getStyles">
        <div class="ss-header" (mousedown)="dragStart($event)" (mouseup)="dragEnd($event)">
            <a class="close" (click)="close()"><i class="mdi mdi-close"></i></a>
            <div class="title">{{title}}</div>
            <div>
                <a class="p-5" [ngClass]="{'bg-blue': attachLeft && attachRight && attachTop && attachBottom}" (click)="fullscreen()"><i class="mdi mdi-fullscreen"></i></a>
                <a class="p-5" [ngClass]="{'bg-blue': attachLeft}" (click)="attachLeft = !attachLeft"><i class="mdi mdi-format-horizontal-align-left"></i></a>
                <a class="p-5" [ngClass]="{'bg-blue': attachLeft && attachRight }" (click)="valignCenter()"><i class="mdi mdi-format-vertical-align-center"></i></a>
                <a class="p-5" [ngClass]="{'bg-blue': attachRight}" (click)="attachRight = !attachRight"><i class="mdi mdi-format-horizontal-align-right"></i></a>
                <a class="p-5" [ngClass]="{'bg-blue': attachTop}" (click)="attachTop = !attachTop"><i class="mdi mdi-format-vertical-align-top"></i></a>
                <a class="p-5" [ngClass]="{'bg-blue': attachTop && attachBottom }" (click)="halignCenter()"><i class="mdi mdi-format-horizontal-align-center"></i></a>
                <a class="p-5" [ngClass]="{'bg-blue': attachBottom}" (click)="attachBottom = !attachBottom"><i class="mdi mdi-format-vertical-align-bottom"></i></a>
            </div>
        </div>
        <div class="ss-content">
            <ng-content></ng-content>
            <div *ngIf="modal?.message" class="alert-red mt-10">{{modal.message}}</div>
        </div>
    </div>
</div>