<div *ngIf="item" class="body" [ngClass]="{show: show}" [style.backgroundImage]="'url('+ item.src +')'">
  <div class="text" *ngIf="item.title">
    <div class="title"></div>
    <div class="decription"></div>
  </div>
</div>
<div class="control">
  <div class="prev"><a (click)="prev()"><i class="mdi mdi-arrow-left"></i></a></div>
  <div class="items">
    <a class="item" *ngFor="let item of items;let itemIndex = index" [style.backgroundImage]="'url('+ item.src +')'" [ngClass]="{active: itemIndex == index}" (click)="index = itemIndex;">
    </a>
  </div>
  <div class="next"><a (click)="next()"><i class="mdi mdi-arrow-right"></i></a></div>
</div>