:host() {
    display: flex;
    flex-direction: column;
    .body {
        flex: 1;
        opacity: 0;
        min-height: 400px;
        position: relative;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transition: opacity 300ms ease;
        &.show {opacity: 1;}
        .text {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            color: #fff;
            display: flex;
            flex-direction: column;
            background-color: rgba(148, 148, 148, 0.329);
            .title {font-size: 16px;}
            .description {font-size: 14px;}
        }
    }
    .control {
        height: 50px;
        display: flex;
        align-items: center;
        flex-direction: row;
        .prev, .next {}
        .items {
            flex: 1;
            overflow: hidden;
            .item {
                float: left;
                width: 60px;
                height: 40px;
                margin: 5px;
                opacity: .4;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                transition: opacity 300ms ease;
                &.active {
                    opacity: 1;
                }
            }
        }
    }
}