<form *ngIf="islogin; else elseBlock" #form="ngForm" autocomplete="off" class="p-10">
  <div class="py-10">
    <textarea class="form-control p-10" cols="30" rows="10" placeholder="متن دیدگاه" [(ngModel)]="obj.text" name="text"
      required></textarea>
  </div>
  <div>
    <button class="btn-sky-dark" [ngClass]="{progress: progress}" [disabled]="form.invalid || progress" (click)="submit()">ثبت
      دیدگاه</button>
  </div>
  <div *ngIf="message" class="alert-{{color}}">{{message}}</div>
</form>
<ng-template #elseBlock>
  <h4 class="color-yellow font-13 p-20">برای ثبت نظر ابتدا <a class="color-blue" (click)="login()">وارد</a> شوید</h4>
</ng-template>
