<div class="container p-20">
  <section class="filter">
    <div class="input-group">
      <input class="form-control" placeholder="جستجو ..." [(ngModel)]="search" />
      <label>جستجو : </label>
    </div>
  </section>
  <section class="articles row">
    <app-article-card *ngFor="let item of getItems()" class="col-lg-3 col-md-4 col-sm-6 p-15 animated fadeIn slow"
      [article]="item"></app-article-card>
  </section>
</div>
