<div class="container py-40 animated fadeIn slow delay-1">
  <div class="card p-30">
    <h2 class="pb-10">بازیابی کلمه عبور</h2>
    <hr>
    <form #form="ngForm" autocomplete="off" (submit)="submit()">
      <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="obj.username" name="username" required />
        <label>ایمیل : </label>
      </div>
      <div class="row my-20">
        <div class="py-10 pr-10">
          <input type="text" class="form-control" [(ngModel)]="obj.captcha.value" placeholder="کد امنیتی" name="captchaValue"
            required />
        </div>
        <div class="px-20">
          <ss-misc-captcha [url]="captchaUrl" [(ngModel)]="obj.captcha.key" name="captchaKey"></ss-misc-captcha>
        </div>
      </div>
      <div class="my-10">
        <button class="btn-orange w-100" [ngClass]="{progress: progress}" [disabled]="form.invalid || progress">بازیابی</button>
      </div>
      <div *ngIf="message" class="alert-red">{{message}}</div>
    </form>
  </div>
</div>
