<div *ngFor="let item of service.items" [ngClass]="item.class">
    <div class="header row">
        <a class="close" (click)="service.removeItem(item)"><i class="mdi mdi-close"></i></a>
        <span class="title">{{item.title}}</span>
    </div>
    <div class="body" *ngIf="item.message">{{item.message}}</div>
    <div class="html" [innerHTML]="item.innerHTML"></div>
</div>