<div class="card p-20 animated fadeIn slow delay-1">
  <h3>اطلاعات کاربری</h3>
  <hr>
  <form #form="ngForm" autocomplete="off" (submit)="submit()">
    <div class="row">
      <div class="col-sm-6 p-10">
        <div class="form-group">
          <input type="text" class="form-control" [(ngModel)]="obj.name" name="name" required />
          <label>نام و نام خانوادگی : </label>
        </div>
      </div>
      <div class="col-sm-6 p-10">
        <div class="form-group">
          <input type="text" class="form-control" [(ngModel)]="obj.email" name="email" readonly />
          <label>ایمیل : </label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 p-10">
        <div class="form-group">
          <input type="text" class="form-control" [(ngModel)]="obj.cellphone" name="cellphone" />
          <label>شماره تماس : </label>
        </div>
      </div>
    </div>
    <div class="my-10">
      <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="obj.description" name="description" placeholder="برنامه نویس ، گرافیست" />
        <label>عنوان شغلی : </label>
      </div>
    </div>
    <div class="my-10">
      <div class="form-group">
        <textarea type="text" class="form-control" [(ngModel)]="obj.about" name="about" cols="30" rows="10" placeholder="توضیحی کوتاه در رابطه با خودتان و توانایی هایتان یادداشت نمایید"></textarea>
        <label>درباره من : </label>
      </div>
    </div>
    <div class="my-10">
      <button class="btn-green-dark" [ngClass]="{progress: progress}" [disabled]="form.invalid || progress">ثبت اطلاعات</button>
    </div>
    <div *ngIf="message" class="alert-{{color}}">{{message}}</div>
  </form>
</div>
