img {
  display: block;
}

.video {
  video {
    display: block;
    width: 100%;
  }

  >div {
    box-shadow: 0 0 14px 0px rgba(138, 138, 138, 0.302);
  }
}

.lessons {
  display: flex;
  flex-direction: column;

  ul {
    flex: 1;
    padding: 0;
    margin: 0;
    min-height: 415px;
    list-style: none;
    overflow-y: auto;
    border-radius: 5px;
    box-shadow: 0 0 14px 0px rgba(138, 138, 138, 0.302);

    li {
      cursor: pointer;
      padding: 5px 15px;
      align-items: center;
      border-bottom: 1px solid #eee;
      transition: all 300ms ease;
      color: #5d5d5d;

      &.active {
        color: #eee;
        background-color: #315488;
      }

      .index {
        margin-left: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 20px;
        padding: 5px;
        background-color: #315488;
        border-radius: 50%;
        color: #eee;
        font-size: 14px;
      }

      .title {
        flex: 1;

        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;

      }

      .time {
        display: flex;
        align-items: center;
        font-size: 12px;
        direction: ltr;

        i {
          padding: 0 5px;
        }
      }

    }
  }
}

.tab {
  display: flex;
  li {
    margin: 0 5px;
  }
}
