<div *ngIf="course" class="container py-10 px-10 animated fadeIn slow delay-1">
  <section class="top card my-10 p-20">
    <h2 class="IranSans text-lights" id="figcaptionp" style="padding-right: 10px">دوره {{course?.post?.title}} </h2>
    <hr>
    <div class="top row">
      <div class="video col-lg-8 col-md-7 p-10">
        <div class="p-20">
          <video *ngIf="selected && video; else imageElse" [poster]="image" controls preload="auto">
            <source [src]="video" type="video/mp4" />
          </video>
          <ng-template #imageElse>
            <img *ngIf="image" class="w-100" [src]="image" [alt]="course?.post?.title">
          </ng-template>
        </div>
      </div>
      <div class="lessons col-lg-4 col-md-5 p-10">
        <div class="pb-10" *ngIf="selected">
          <div *ngIf="islogin; else downloadElse" [ngSwitch]="course?.type?.key">
            <ng-container *ngSwitchCase="0">
              <a [href]="selected.url" class="btn-blue-dark w-100">دانلود</a>
            </ng-container>
            <ng-container *ngSwitchCase="1">
              <a *ngIf="isvip; else vipElse" [href]="selected.url" class="btn-blue-dark py-10 w-100">دانلود</a>
              <ng-template #vipElse><a class="btn-violet-dark py-10 w-100" (click)="vip()">ارتقاء حساب به اعضاء ویژه</a></ng-template>
            </ng-container>
            <ng-container *ngSwitchCase="2">
              <a *ngIf="isbuy; else vipElse" [href]="selected.url" class="btn-blue-dark py-10 w-100">دانلود</a>
              <ng-template #vipElse><button class="btn-turquise-dark py-10 w-100" [ngClass]="{progress: progress}"
                  [disabled]="progress" (click)="buy()">خرید دوره ({{commaSep(course.price)}} تومان)</button></ng-template>
            </ng-container>
          </div>
          <ng-template #downloadElse>
            <a class="btn-blue py-10 w-100" (click)="login()">ابتدا وارد شوید</a>
          </ng-template>
        </div>
        <ul>
          <li *ngFor="let item of lessons;let index=index" class="row" [ngClass]="{active: selected == item}" (click)="changeLesson(item)">
            <span class="index">
              <span *ngIf="!islock(item); else lockBlock">{{index + 1}}</span>
              <ng-template #lockBlock><i class="mdi mdi-lock"></i></ng-template>
            </span>
            <p class="title">
              {{item.post.title}}
            </p>
            <span class="time">
              <i class="mdi mdi-clock font-15 "></i> {{timeFormatter(item.time)}}
            </span>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section class="card my-20 p-20">
    <ul class="tab tab-blue">
      <li [ngClass]="{active: tab == 'course'}"><a (click)="tab = 'course'">اطلاعات دوره</a></li>
      <li [ngClass]="{active: tab == 'lesson'}" *ngIf="selected"><a (click)="tab = 'lesson'">اطلاعات درس</a></li>
      <li [ngClass]="{active: tab == 'files'}"><a (click)="tab = 'files'">فایل های ضمیمه شده</a></li>
      <li [ngClass]="{active: tab == 'comment'}"><a (click)="tab = 'comment'">دیدگاه ها</a></li>
    </ul>
    <hr>
    <div [ngSwitch]="tab">
      <div *ngSwitchCase="'course'">
        <div>
          <app-post-info *ngIf="course?.post" [post]="course?.post">
            <ul>
              <li><i class="mdi mdi-timer"></i> مدت زمان دوره : <span class="ltr px-10">{{courseTime()}}</span></li>
            </ul>
          </app-post-info>
        </div>
      </div>
      <div *ngSwitchCase="'lesson'">
        <app-post-info *ngIf="selected?.post" [post]="selected?.post"></app-post-info>
      </div>
      <div *ngSwitchCase="'files'">

      </div>
      <div *ngSwitchCase="'comment'">
        <app-comment-form [id]="course.id"></app-comment-form>
        <app-comment-list [id]="course.id" repliable="true"></app-comment-list>
      </div>
    </div>
  </section>
  <section class="card p-20">
    <h3>دوره های پیشنهادی</h3>
    <hr>
    <app-course-suggestion></app-course-suggestion>
  </section>
</div>
