<ss-overlay-modal [modal]="modal" [modal-title]="title" (onclose)="onclose.emit()">
    <div><ng-content></ng-content></div>
    <div class="row reverse">
        <button id="cancel" class="btn-red px-20" #cancelBtn (click)="cancel()">خیر</button>
        <button id="confirm" class="btn-green px-20 ml-5" #confirmBtn [ngClass]="{progress: modal?.progress}" [disabled]="modal?.progress" (click)="confirm()">بله</button>
    </div>
</ss-overlay-modal>