<div *ngIf="article" class="container py-20 px-10 animated fadeIn slow delay-1">
  <section class="card my-10 p-30">
    <div class="px-10">
      <h2 class="pr-30">{{article.post.title}}</h2>
      <hr>
    </div>
    <div>
      <app-post-info [post]="article.post"></app-post-info>
    </div>
    <div>
      <app-comment-form [id]="article.id"></app-comment-form>
    </div>
  </section>
</div>
