<div class="container px-20 py-10">
  <nav class="right hidden-sm-down Menu-Item-Animation" [ngClass]="{'responsive': toggleMenu==true}" id="myTopnav" style="flex: 1">
    <a class="logo" href="#"><img src="images/logo.png"/></a>
    <a href="#" class="active">صفحه اصلی</a>
    <a href="#course">دوره ها آموزشی</a>
    <a href="#articles">مقالات</a>
    <a href="#news">اخبار</a>
    <a href="#discussions">بحث و گفتگو</a>
    <a href="#about-us">درباره ما</a>
    <a href="#contact-us">ارتباط با ما</a>
  </nav>
  <div class="hidden-sm-up">
    <a class="menu-toggle" (click)="toggleMenu=!toggleMenu">
      <div>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </a>
  </div>
  <nav class="left">
      <a href="#login">ورود / عضویت</a>    
      <span>|</span>
      <a target="_blank" href="https://t.me/sigmasoftir"><img src="images/header/telegram.png" alt=""></a>
      <a target="_blank" href="https://www.instagram.com/sigmasoftir/"><img src="images/header/instagram.png" alt=""></a>
      <a target="_blank" href="#"><img src="images/header/linkedin.png" alt=""></a>
  </nav>
</div>
