:host() {
    display: block;
}
.image {
    display: flex;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid #8c8888;
    img {
        display: block;
        width: 100%;
        height: 100%;
    }
}
.body {
    background-color: #f5f5f5;
}