<div class="card p-20 mx-10 my-20">
  <div>
    <div class="head row">
      <div class="row" style="flex:1">
        <div class="image">
          <img [src]="image" alt="">
        </div>
        <div class="name pr-10">
          <h5 class="pt-5">{{comment.user.name}}</h5>
          <span class="color-gray pt-5 font-12">{{comment.creationTime | jalali}}</span>
        </div>
      </div>
      <div class="align-left" *ngIf="repliable">
        <a class="btn-red-outline" (click)="replying = true">ارسال پاسخ</a>
      </div>
    </div>
    <div class="body p-20 m-10 font-12" [innerHTML]="comment.text"></div>
  </div>
  <div class="replies">
    <app-comment-form *ngIf="replying" [id]="comment.post.id" [parentId]="comment.id"></app-comment-form>
    <div *ngIf="!replies; else elseBlock"><a class="color-blue font-12" (click)="loadReplies()"><i class="mdi mdi-refresh"></i> بارگزاری پاسخها</a></div>
    <ng-template #elseBlock>
        <div *ngIf="replies.length == 0" class="color-gray-dark font-12">پاسخی یافت نشد</div>
        <app-comment *ngFor="let reply of replies" [comment]="reply"></app-comment>
    </ng-template>
  </div>