<app-post-card [post]="course.post">
  <div [ngSwitch]="course.type.key">
      <p *ngSwitchCase="0" class="color-blue-dark"> {{course.type.value}} </p>
      <p *ngSwitchCase="1" class="color-turquise-dark"> {{course.type.value}} </p>
      <p *ngSwitchCase="2" class="color-red-dark"> {{commaSep(course.price)}} تومان </p>
  </div>
  <p class="color-gray-dark"><i class="mdi mdi-clock font-15 "></i>&nbsp;&nbsp;{{course.post.creationTime | jalali}}</p>
</app-post-card>
