<div class="card hover-yellow">
  <div class="image" (click)="goto()">
    <img [src]="image">
  </div>
  <div class="title"><a (click)="goto()">{{post.title}}</a></div>
  <div class="description p-10" [innerHTML]="post.description"></div>
  <div class="footer row px-15" style="justify-content: space-between;">
    <ng-content></ng-content>
  </div>
</div>
