:host() {
  position: relative;
  z-index: 0;
  display: block;
  }

  .card {
    display: flex;
    flex-direction: column;
    height: 400px;
    z-index: 0;
    background: #ffffff;
    cursor: pointer;
    border-radius: 15px;
    transition: all 0.3s;
    transform: translateY(-4px);
    border: 1px solid #ddd;
    box-shadow: 0px 0px 10px 1px rgba(25, 25, 25, 0.15);

    &:hover {
      box-shadow: 0px 0px 23px 1px rgba(14, 14, 14, 0.27);
    }
  }

  .hover:hover .footer {
    height: 50px;
    /*background: rgba(0, 176, 105, 0.35);*/
    /*border-top-color: #f1d01c;*/
  }

  .image {
    height: 160px;
    padding: 15px;
    position: relative;
    cursor: pointer;

    img {
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 5px;
    }
  }

  .title {
    text-align: center;
    color: #505050;
    padding: 10px;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
  }


  .description {
    flex: 1;
    color: #777;
    text-align: justify;

    /deep/ p {
      font-size: 13px;
      margin: 0 !important;
    }
  }

  .footer {
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    background-color: #f7f7f7;
    border-radius: 0 0 15px 15px;
    transition: all 0.25s ease;
  }
