.menu {
  display: flex;
  flex-direction: column;
  ul {
    list-style: none;
    margin: 15px 0;
    padding: 0;
    border-radius: 0;

    li {
      border-bottom: 1px solid #eee;

      a {
        display: flex;
        align-items: center;
        color: #444;
        font-size: 14px;
        padding: 10px 15px;
        transition: all 200ms ease;

        i {
          font-size: 24px;
          margin-left: 10px;
        }

        &:hover {
          padding-right: 20px;
          background-color: #f5f5f5;
        }
      }

      &.active {
        a {
          background-color: #315488;
        }
      }
    }
  }
}
@media (max-width: 992px) and (min-width:768px) {
  .menu {
    flex-direction: row;
    >div {
      padding: 20px;
      flex: 1;
    }
  }
}