<div class="container p-20 animated fadeIn slow delay-1">
  <h2>ناحیه ی کاربری</h2>
  <hr>
  <div class="row">
    <section class="menu col-lg-3 col-md-4 p-20">
      <div>
        <h3>اطلاعات کاربری</h3>
        <ul class="card">
          <li><a href="#user"><i class="mdi mdi-account color-black-light"></i> اطلاعات کاربری</a></li>
          <li><a href="#user/password"><i class="mdi mdi-key color-blue"></i> تغییر کلمه عبور</a></li>
        </ul>
        <h3>اطلاعات خرید</h3>
        <ul class="card">
          <li><a href="#user/vipservice"><i class="mdi mdi-cash color-turquise"></i> وضعیت اشتراک ویژه شما</a></li>
          <li><a href="#user/transaction"><i class="mdi mdi-shuffle color-sky-dark"></i> تراکنش های مالی</a></li>
          <li><a href="#user/course"><i class="mdi mdi-book color-violet"></i> دوره های خریداری شده</a></li>
        </ul>
      </div>
      <div>
        <h3>اطلاعات ثبت شده برای مطالب</h3>
        <ul class="card">
          <li><a href="#user/bookmark"><i class="mdi mdi-bookmark-outline color-black"></i> مطالب ذخیره شده</a></li>
          <li><a href="#user/like"><i class="mdi mdi-thumb-up-outline color-green"></i> مطالبی که دوست داشتم</a></li>
          <li><a href="#user/disLike"><i class="mdi mdi-thumb-down-outline color-orange"></i> مطالبی که دوست نداشتم</a></li>
          <li><a href="#user/subscribe"><i class="mdi mdi-bell-ring color-violet"></i> مطالبی که دنبال می کنم</a></li>
          <li><a href="#user/comment"><i class="mdi mdi-comment color-yellow-dark"></i> نظرات</a></li>
        </ul>
        <ul class="card">
          <li><a (click)="logout()"><i class="mdi mdi-logout color-red-dark"></i> خروج</a></li>
        </ul>
      </div>
    </section>
    <section class="content col-lg-9 col-md-8 p-20">
      <router-outlet></router-outlet>
    </section>
  </div>
</div>
