<div class="card p-20 animated fadeIn slow delay-1">
    <h3>مطالبی که دنبال می کنم</h3>
    <hr>
    <section class="row" *ngIf="items?.length; else elseBlock">
      <app-post-card *ngFor="let item of items" class="col-lg-4 col-sm-6 p-15 animated fadeIn slow" [post]="item.post">
        <p class="color-gray-dark">نویسنده : {{item.post.user.name}} </p>
        <a class="delete" (click)="delete(item)"><i class="mdi mdi-close"></i></a>
      </app-post-card>
    </section>
    <ng-template #elseBlock>
    <div *ngIf="progress" class=" color-black-light font-13">در حال بارگزاری ...</div>
    <div *ngIf="!progress" class="alert-blue">هیچ مطلبی یافت نشد</div>
    </ng-template>
  </div>
  