<ul class="form-control" (click)="focus()">
    <li *ngFor="let item of items" class="item"><span>{{item}}</span>&nbsp;<a (click)="remove(item)"><i class="mdi mdi-close"></i></a></li>
    <li><input [(ngModel)]="value" (keyup.enter)="addOrRemove()"/></li>
</ul>