ul {
  margin: 0;
  padding: 0 5px;
  list-style: none; }
  ul li {
    display: inline-block; }
  ul .item {
    margin: 5px;
    padding: 5px 10px;
    color: #fff;
    font-size: 14px;
    border-radius: 4px;
    background-color: #06b88a; }
  ul input {
    border: none;
    outline: none;
    background-color: transparent; }

/*# sourceMappingURL=chips.component.css.map */
