<div class="image"></div>
<p class="align-center">
    <a class="color-blue" [routerLink]="['/']">برای رفتن به صفحه نخست کلیک نمایید</a>
    <br/>
    <br/>
    <a class="color-gray" (click)="back()">بازگشت</a>
</p>