<div class="row">
  <div *ngIf="image" class="image px-10 col">
    <div class="pt-10" style="flex:1">
        <img class="w-100" [src]="image" alt="">
    </div>
    <div *ngIf="post?.images?.length > 1" class="images">
      <a *ngFor="let item of post?.images" [ngClass]="{selected: selectedImage == item}" (click)="selectedImage = item"><img [src]="item.url" [alt]="item.name"></a>
    </div>
  </div>
  <div class="content px-10 col">
    <div *ngIf="islogin" class="user pb-5 row color-gray-dark font-20" style="flex-direction: row-reverse">
      <a class="bookmark" (click)="bookmark()" title="ذخیره">
        <i *ngIf="!userinfo.bookmark; else bookmarkElse" class="mdi mdi-bookmark-outline"></i>
        <ng-template #bookmarkElse><i class="mdi mdi-bookmark color-black"></i></ng-template>
      </a>
      <a class="like" (click)="like()" title="رای مثبت">
        <i *ngIf="!userinfo.like; else likeElse" class="mdi mdi-thumb-up-outline"></i>
        <ng-template #likeElse><i class="mdi mdi-thumb-up color-green-dark"></i></ng-template>
      </a>
      <a class="disLike" (click)="disLike()" title="رای منفی">
        <i *ngIf="!userinfo.disLike; else disLikeElse" class="mdi mdi-thumb-down-outline"></i>
        <ng-template #disLikeElse><i class="mdi mdi-thumb-down color-orange"></i></ng-template>
      </a>
      <a class="subscribe" (click)="subscribe()" title="بهم خبر بده">
        <i class="mdi mdi-bell-ring" [ngClass]="{'color-violet': userinfo.subscribe}"></i>
      </a>
    </div>
    <div class="info color-gray-dark font-14 row" style="flex:1">
      <ul>
        <li class="author"><i class="mdi mdi-account"></i> نویسنده : {{post.user.name}}</li>
        <li class="time"><i class="mdi mdi-alarm"></i> زمان انتشار : {{post.publishTime | jalali}}</li>
        <li class="rate"><i class="mdi mdi-trophy-award"></i> امتیاز :
          <ul>
            <li *ngFor="let item of [4,3,2,1,0]"><i class="color-yellow font-16 mdi" [ngClass]="getRateClass(item)"></i></li>
          </ul>
        </li>
        <li class="viewcount"><i class="mdi mdi-eye"></i> تعداد بازدید : {{post.viewCount}}</li>
        <li class="category"><i class="mdi mdi-crop-free"></i> دسته بندی : {{post.category?.name}}</li>
      </ul>
      <ng-content></ng-content>
    </div>
    <div class="tags">
      <h6>تگ ها :</h6>
      <ul>
        <li *ngFor="let item of post?.tags"><a [href]="href">#{{item}}</a></li>
      </ul>
    </div>
  </div>
</div>
<hr>
<div class="body color-black px-10" [innerHTML]="post?.body"></div>