.image {
  max-width: 40%;
  .images {
    display: flex;
    padding: 10px;
    height: 70px;
    overflow-x: auto;

    >* {
      height: 100%;
      display: block;
      float: right;
      overflow: hidden;
      border-radius: 2px;
      margin: 0 10px;
      cursor: pointer;
    }

    img {
      height: 100%;
    }

    .selected {
      box-shadow: 0 0 4px 2px #d4e5ef;
    }
  }
}

.content {
  flex: 1;
}

.user {
  border-bottom: 1px solid #f5f5f5;

  a {
    padding: 0 5px;
    transition: all 200ms ease;

    &:active {
      transform: scale(1.3);
    }
  }
}

.info/deep/ {
  >* {flex: 1;}
  >ul {
    padding: 0;
    list-style: none;

    >li {
      display: flex;
      align-items: center;
      margin: 10px;

      >i {
        padding-left: 10px;
      }
    }
  }

  .rate {
    ul {
      margin: 0;
      padding: 0;
      display: inline-flex;
      list-style: none;
    }
  }
}

.tags {
  ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    flex-wrap: wrap;

    li {
      padding: 5px 10px;
      margin: 5px;
      font-size: 12px;
      color: rgb(27, 99, 180);
      border-radius: 4px;
      background-color: rgba(99, 137, 206, 0.102);
    }
  }
}


@media (max-width: 992px) {
  .image {
    width: 100%;
    max-width: initial;
  }
  .content {
    flex-direction: column;
  }
}