<div class="container py-40 animated fadeIn slow delay-1">
  <div class="card p-30">
    <h2>فرم ورود</h2>
    <hr>
    <form #form="ngForm" autocomplete="off" (submit)="submit()">
      <div class="form-group my-10">
        <input type="text" class="form-control" [(ngModel)]="obj.username" name="username" required />
        <label>ایمیل : </label>
      </div>
      <div class="form-group my-10">
        <input type="password" class="form-control" [(ngModel)]="obj.password" name="password" required />
        <label>کلمه عبور : </label>
      </div>
      <div class="row my-20">
        <div class="py-10 pr-10">
          <input type="text" class="form-control" [(ngModel)]="obj.captcha.value" placeholder="کد امنیتی" name="captchaValue" required/>
        </div>
        <div class="px-20">
          <ss-misc-captcha [url]="captchaUrl" [(ngModel)]="obj.captcha.key" name="captchaKey"></ss-misc-captcha>
        </div>
      </div>
      <div class="my-10">
        <button class="btn-green-dark w-100" [ngClass]="{progress: progress}" [disabled]="form.invalid || progress">ورود</button>
      </div>
      <div class="row">
        <div>
          <span class="color-red-light" *ngIf="message">{{message}}</span>
        </div>
        <div class="align-left" style="flex:1">
          <a href="#reset-password" class="color-red-light font-12">رمز خود را فراموش کرده ام</a>
        </div>
      </div>
    </form>
  </div>
</div>
