<link rel="stylesheet" href="../../../../../Downloads/Telegram Desktop/styles.scss">
<div *ngIf="isload" >
  <header>
    <div class="container px-20 py-10">
      <nav class="right hidden-sm-down Menu-Item-Animation" [ngClass]="{'responsive': toggleMenu==true}" id="myTopnav"
        style="flex: 1">
        <a class="logo" href="#"><img src="images/logo.png" /></a>
        <a routerLink="/"  [routerLinkActive]="['active']">صفحه اصلی</a>
        <a routerLink="/courses" [routerLinkActive]="['active']">دوره ها آموزشی</a>
        <a routerLink="/articles" [routerLinkActive]="['active']">مقالات</a>
        <!-- <a href="#news">اخبار</a> -->
        <!-- <a href="#discussions">بحث و گفتگو</a> -->
        <a routerLink="/about-us"  [routerLinkActive]="['active']">درباره ما</a>
        <a routerLink="/contact-us"  [routerLinkActive]="['active']">ارتباط با ما</a>
      </nav>
      <div class="toggle-menu hidden-sm-up" [ngClass]="{open: toggleMenu}">
        <a (click)="toggleMenu=!toggleMenu">
          <div>
            <span></span>
            <span></span>
            <span></span>
          </div>
        </a>
        <div>
          <a href="#" class="active">صفحه اصلی</a>
          <a href="#courses">دوره ها آموزشی</a>
          <a href="#articles">مقالات</a>
          <!-- <a href="#news">اخبار</a> -->
          <!-- <a href="#discussions">بحث و گفتگو</a> -->
          <a href="#about-us">درباره ما</a>
          <a href="#contact-us">ارتباط با ما</a>
        </div>
      </div>
      <nav class="left">
        <a href="#login" *ngIf="!islogin"><i class="mdi mdi-key pl-5"></i> ورود</a>
        <span *ngIf="!islogin">/</span>
        <a href="#register" *ngIf="!islogin"><i class="mdi mdi-account pl-5"></i> عضویت</a>

        <a href="#user" *ngIf="islogin"><i class="mdi mdi-home pl-5"></i> ناحیه کاربری</a>
        <span *ngIf="islogin">/</span>
        <a *ngIf="islogin" (click)="logout()"><i class="mdi mdi-logout pl-5"></i> خروج</a>
        <span>|</span>
        <a target="_blank" href="https://t.me/sigmasoftir"><img src="images/header/telegram.png" alt=""></a>
        <a target="_blank" href="https://www.instagram.com/sigmasoftir/"><img src="images/header/instagram.png" alt=""></a>
        <a target="_blank" href="#"><img src="images/header/linkedin.png" alt=""></a>
      </nav>
    </div>
  </header>

  <main>
    <router-outlet ></router-outlet>
  </main>
  <footer>
    <div class="container">
      <section class="top py-10">
        <div class="about-us px-10" style="flex: 1;">
          <h3>درباره سیگما</h3>
          <hr>
          <p>
            شرکت سیگما سافت با هدف انتشار دانش روز به برنامه نویسان عزیز از سال 1397 قصد دارد مرجعی را برای آموزش هر چه
            بهتر
            فراهم نموده و
            با تمام توان روز به روز به سدد پیشرفت آن میکوشد.
          </p>
          <p>
            لذا خواهشمندیم تا برای هرچه بهتر شدن کیفیت محتوا مطالب در نظرسنجی ها شرکت نموده و مشکلات آموزش ها را اعلام
            نمایید.
          </p>
          <p>با تشکر</p>
        </div>
        <div class="symbols px-10">
          <a><img src="images/zarinpal.png" alt=""></a>
          <!-- <a><img src="images/samandehi.png" alt=""></a> -->
          <a onclick="window.open('https://logo.samandehi.ir/Verify.aspx?id=131591&p=rfthxlaorfthdshwpfvlrfth', 'Popup','toolbar=no, scrollbars=no, location=no, statusbar=no, menubar=no, resizable=0, width=450, height=630, top=30')"><img id="jxlzrgvjjxlzapfusizpjxlz" alt="logo-samandehi" src="https://logo.samandehi.ir/logo.aspx?id=131591&p=nbpdqftinbpdujynbsiynbpd" style="cursor:pointer"/></a>
          <a><img src="images/enamad.png" alt=""></a>
        </div>
      </section>
      <section class="bottom p-10">
        <p>کليه حقوق محصولات و محتوای اين سایت متعلق به سیگما سافت می باشد و هر گونه کپی برداری از محتوا و محصولات سایت
          غیر
          مجاز و بدون رضایت ماست</p>
      </section>
    </div>
  </footer>
</div>
