:host() {
  display: block;
  margin-top: 49px;
}

:host():before {
  background-image: url(../images/icon-set-1.png);
  background-position: 50%;
  background-size: 250px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: block;
  z-index: -1;
  content: "";
  opacity: .05;
  pointer-events: none;
}

header {
  position: fixed;
  display: block;
  background: #252b2b;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  z-index: 1000000000;


  .container {
    height: inherit;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  nav {
    display: flex;
    align-items: center;
  }

  /* Style the links inside the navigation bar */
  nav>* {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(242, 242, 242, 0.51);
    text-align: center;
    padding: 2px 10px;
    transition: color 300ms ease;

    &.active {
      color: #eee;
    }

    &:hover {
      color: #ddd;
    }

    &.logo {
      height: 25px;

      img {
        height: 100%;
      }
    }
  }

  nav.right {
    font-size: 14px;
  }

  nav.left {
    font-size: 13px;

    a {
      padding: 0 5px;
    }

    img {
      filter: grayscale(100%);
      transition: filter 200ms ease;
    }

    a:hover img {
      filter: grayscale(0%);
    }
  }

  /* Dropdown container - needed to position the dropdown content */
  .dropdown {
    position: relative;

    .dropbtn {
      border: none;
      outline: none;
      color: white;
      background-color: inherit;
      font-family: inherit;
      margin: 0;
      transition: all .5s ease-in-out;
    }

  }

  /* Style the dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    visibility: hidden;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 10px;
    overflow: hidden;
    left: 0;
    top: 100%;
    transition: all 4s ease-in-out;

    &:before {
      border-left: 0;
      border-bottom: 0;
      content: " ";
      display: block;
      height: 12px;
      pointer-events: none;
      position: absolute;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      width: 12px;
      background: #ffffff;
      top: -6px;
      left: 20px;
    }

    a {
      float: none;
      color: black;
      padding: 5px 20px;
      text-decoration: none;
      font-size: 13px;
      text-align: center;

    }
  }

  .toggle-menu {
    >a {
      border-radius: 50%;
      direction: rtl;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0px 10px 30px -14px #000;
      cursor: pointer;

      span {
        display: block;
        width: 25px;
        height: 2px;
        background: #d8d8d8;
        border-radius: 2px;
        transition: all 300ms ease;
        font-size: 21px;
        font-weight: 700;

        &:not(:last-child) {
          margin-bottom: 5px;
        }

        &:first-child {
          width: 20px;
        }

        &:last-child {
          width: 15px;
        }

      }

      &:hover {
        span {

          &:first-child,
          &:last-child {
            width: 100%;
          }
        }
      }
    }

    >div {
      position: absolute;
      top: 100%;
      right: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      max-height: 0;
      transition: max-height 300ms ease;
      
      a {
        display: block;
        width: 100%;
        text-align: center;
        padding: 10px;
        color: rgba(242, 242, 242, 0.51);
        background-color: #252b2b;
      }
    }
    &.open > div {
      max-height: 400px;
    }

  }

  .ss-search-button:hover .submit-button {
    width: 25px;
    height: 25px;
    fill: #dddddd;
    transition: all 300ms ease;
  }
}

footer {
  width: 100%;
  min-height: 300px;
  display: block;
  background-image: linear-gradient(#344079, #091946);

  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  h3 {
    color: rgba(232, 232, 232, 0.87);
  }

  hr {
    border-color: rgba(255, 255, 255, 0.25);
  }

  .about-us {
    color: #ddd;
  }

  .top {
    display: flex;
    flex: 1;
  }

  .bottom {
    color: rgba(255, 255, 255, 0.31);
  }

  @media screen and (max-width: 920px) {
    .top {
      flex-direction: column;
    }
  }
}
.symbols {
  display: flex;
  align-items: center;
  >* {padding: 10px;}
}