<div class="container py-40 animated fadeIn slow delay-1">
  <div class="card p-30">
    <h2 class="pb-10">فرم عضویت</h2>
    <hr>
    <form #form="ngForm" autocomplete="off" (submit)="submit()">
      <div class="row">
        <div class="col-sm-6 p-10">
          <div class="form-group">
            <input type="text" class="form-control" [(ngModel)]="obj.name" name="name" required />
            <label>نام و نام خانوادگی: </label>
          </div>
        </div>
        <div class="col-sm-6 p-10">
          <div class="form-group">
            <input type="email" class="form-control" [(ngModel)]="obj.username" name="username" required />
            <label>ایمیل : </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 p-10">
          <div class="form-group">
            <input type="password" class="form-control" #pass [(ngModel)]="obj.password" name="password" required />
            <label>کلمه عبور : </label>
          </div>
        </div>
        <div class="col-sm-6 p-10">
          <div class="form-group">
            <input type="password" class="form-control" #repass [(ngModel)]="obj.repassword" name="repassword" required />
            <label>تکرار کلمه عبور : </label>
          </div>
        </div>
      </div>
      <div class="row my-20">
        <div class="py-10 pr-10">
          <input type="text" class="form-control" [(ngModel)]="obj.captcha.value" placeholder="کد امنیتی" name="captchaValue"
            required />
        </div>
        <div class="px-20">
          <ss-misc-captcha [url]="captchaUrl" [(ngModel)]="obj.captcha.key" name="captchaKey"></ss-misc-captcha>
        </div>
      </div>
      <div class="my-10">
        <button class="btn-sky-dark w-100" [ngClass]="{progress: progress}" [disabled]="form.invalid || progress || pass.value != repass.value">ثبت
          نام</button>
      </div>
      <div *ngIf="message" class="alert-red">{{message}}</div>
    </form>
  </div>
</div>
