.ss-main-bg {
  overflow: hidden;
  /*background: linear-gradient(135deg,#1abc9c 20%,#2980b9 80%);*/
  position: relative;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 70px;
}
.ss-main-bg:before {
  background-image: url(../../../images/icon-set-1.png);

  background-position: 50%;
  background-size: 250px;
  position: absolute;
  top: 0;
  left: 0;
  height: 400%;
  width: 100%;
  display: block;
  z-index: 0;
  content: "";
  opacity: .05;
  pointer-events: none;
}



#ss-back-box{
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  display: flex;
}

@media screen and (max-width: 993px) {
  #ss-back-box{

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

  }
  #ss-back-box:before {
    bottom: 220px !important;
    left: -60px !important;
    width: 64% !important;
    height: 50% !important;

  }
  #ss-back-box h4 {

    bottom: 245px !important;

  }
  .details-card{
    top: 120px !important;;
    left: -20px !important;;
  }

}

.details-card{
  position: relative;
  top:140px ;
  left: -60px ;
}



#ss-back-box:before {
  content: "";
  z-index: 0;
  position: absolute;
  bottom: -100px;
  left: 0;
  width: 65%;
  height: 100%;
  background-color: #3F51B5;
}


#ss-back-box img,#ss-back-box video  {
  position: relative;
  z-index: 1;
  /*max-width: 100%;*/
  border: 20px solid #fff;
  width: 100%;
  vertical-align: middle;
  box-shadow: 0 0 29px -7px;
}

#ss-back-box h4 {
  position: absolute;
  bottom: -50px;
  right: 0;
}
.ss-card {
  z-index: 0;
  background: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 10px 1px rgba(25, 25, 25, 0.15);;
  transition: all 0.3s;
  transform: translateY(-4px);
}
.ss-hover-yellow:hover {

  box-shadow: 0 0 0 2px #3f4fb5, 0 22px 43px rgba(0,0,0,0.15);
}
.ss-hover:hover {

  box-shadow: 0 0 30px 2px rgba(0, 0, 0, 0.29), 0 22px 43px rgba(0,0,0,0.15);
}
.ss-hover:hover .ss-card-footer {
  height: 50px;
  /*background: rgba(0, 176, 105, 0.35);*/
  /*border-top-color: #f1d01c;*/
}
.ss-card-content {
  padding: 15px;
  text-align: center;
}
.ss-card-footer {
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0;
  /*background: #eee;*/
  /*border-top: 1px solid #ddd;*/
  border-radius: 0 0 5px 5px;
  transition: all 0.25s ease;
}
