.droping {
    .card {
        position: relative;
        &:before {
            content: '';
            position: absolute;
            top:0;
            right:0;
            bottom: 0;
            left: 0;
            background-color: rgb(67, 153, 226);
            animation: background 300ms ease;
        }
        &:after {
            content: 'Drop';
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            top:10px;
            right:10px;
            bottom: 10px;
            left: 10px;
            color:#fff;
            font-size: 36px;
            border: 2px dashed #fff;
        }
    }
}
@keyframes background {
    0% {
        background-color: transparent;
    }
    100% {
        background-color: rgb(67, 153, 226);
    }
}
.addNotExists {
    min-height: 150px;
    display: flex;
    font-size: 36px;
    color: #ccc;
    align-items: center;
    justify-content: center;
    border: 2px dashed #ccc;
}