:host {
  display: block;
  padding: 10px 0;
  cursor: pointer; }

.bar {
  width: 100%;
  height: 3px;
  position: relative; }

.slider {
  width: 15px;
  height: 15px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0;
  cursor: pointer;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0px 0px 1px 1px #888;
  transform: translate(-50%, -50%); }

/*# sourceMappingURL=range.component.css.map */
