:host() {
  display: block;
  overflow: hidden;
  /*background: linear-gradient(135deg,#1abc9c 20%,#2980b9 80%);*/
  position: relative;
  text-align: center;
  padding-bottom: 70px;
}

.banner {
  width: 100%;
  height: 400px;
  background-position: center;
  background-size: cover;
  background-image: url(./images/banner.jpg);
}

.search-form {
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 10000000;
  border-radius: 20px;
  box-shadow: 0px 7px 29px rgba(0, 0, 0, 0.35);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: #fff;
  transition: all 0.3s ease;

  &.focus {
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
  }

  input {
    flex: 1;
    font-size: 14px;
    background: none;
    color: #5a6674;
    height: 40px;
    border: none;
    appearance: none;
    outline: none;
  }

  input::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
  }

  button {
    height: 35px;
    width: 35px;
    padding: 8px;
    margin: 0;
    border: 0;
    border-radius: 50px;
    background-color: #3f4fb5;
    outline: none !important;
    cursor: pointer;
    box-shadow: 5px 3px 17px 2px rgba(0, 0, 0, 0.25);
  }

  .clear {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15px;
    height: 15px;
    padding: 5px;
    margin-left: 15px;
    border-radius: 50%;
    color: #afafaf;
  }

  button svg {
    width: 20px;
    height: 20px;
    fill: #ffffff;
  }

  ul {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    list-style: none;
    padding: 0;
    max-height: 300px;
    overflow-y: auto;
    margin: 10px 0 0;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 0 3px 1px #ccc;

    li {
      text-align: justify;
      transition: all 300ms ease;

      &:hover {
        background-color: #f5f5f5;
      }

      a {
        display: flex;
        align-items: center;
        padding: 10px 15px;
        border-bottom: 1px solid #eee;

        .title {
          flex: 1;
          font-size: 14px;
          color: #403b46;
        }

        .type {
          display: flex;
          align-items: center;
          justify-content: center;
          color: #fff;
          font-size: 12px;
          padding: 3px 10px;
          border-radius: 4px;
        }

        .type-1 { //article
          background-color: #cc6464;
        }

        .type-2 { //course
          background-color: #5c98d6;
        }

        .type-3 { //lesson
          background-color: #3fb5a1;
        }

        .type-4 { //news
          background-color: #b53f4f;
        }

        .type-5 { //pages
          background-color: #b56a3f;
        }
      }
    }
  }

  .options {
    position: absolute;
    text-align: right;
    top: 17px;
    right: 15px;
  }

  .options div {
    position: relative;
    display: inline-block;
    margin: 0 0;
    cursor: pointer;
  }

  .options div input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.01;
    cursor: pointer;
  }

  .options div span {
    position: absolute;
    display: block;
    text-align: center;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    opacity: 0;
    background: #929AA3;
    color: #fff;
    font-size: 9px;
    letter-spacing: 1px;
    line-height: 1;
    text-transform: uppercase;
    padding: 4px 7px;
    border-radius: 12px;
    top: -18px;
    transition: all .2s ease-in-out;
  }

  .options div span::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    border-top: 4px solid #929AA3;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    transition: all .2s ease-in-out;
  }

  .options div:hover span {
    opacity: 1;
    top: -21px;
  }

  .options div label {
    display: block;
    cursor: pointer;
  }

  .options div svg {
    height: 29px;
    width: 29px;
    fill: #5a6674;
    opacity: 0.6;
    transition: all .2s ease-in-out;
    pointer-events: none;
  }

  .options div:hover svg {
    opacity: 1;
  }

  .options div input:checked+label svg {
    fill: #3f4fb5;
    opacity: .9;
  }

  .options div input:checked+label span {
    background: #3f4fb5;
  }

  .options div input:checked+label span::after {
    border-top-color: #3f4fb5;
  }
}




.suggest-card {
  font-size: 20px;
  text-align: center;
  padding: 35px 10px;
  border-radius: 5px;
  border-width: 0;
  border-style: solid;
  background-image: url(../../../images/tiles-bg.png);

  &:hover {
    box-shadow: 0px 0px 10px 2px rgba(25, 25, 25, 0.15);
  }
}

.waveCont-bg-down {

  width: 100%;
  /*position: absolute;*/
  /*top: -1%;*/
  /*z-index: 0;*/
  background-repeat: no-repeat;
  background-image: url(../../../images/wave-1.svg);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
}

.waveCont-bg {

  width: 100%;
  /*position: absolute;*/
  /*top: -1%;*/
  /*z-index: 0;*/
  background-repeat: no-repeat;
  background-image: url(../../../images/wave-1.svg);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}


.waveCont-bg2 {

  width: 100%;
  /*position: absolute;*/
  /*top: -1%;*/
  /*z-index: 0;*/
  background-repeat: no-repeat;
  background-image: url(../../../images/wave-1.svg);
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}


.waveCont-bg-down2 {

  width: 100%;
  /*position: absolute;*/
  /*top: -1%;*/
  /*z-index: 0;*/
  background-repeat: no-repeat;
  background-image: url(../../../images/wave-1.svg);
  -webkit-transform: scale(-1);
  transform: scale(-1);
}


.wave {
  width: 100%;
  height: 55vh;

  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  overflow: hidden;
}
