<div class="container p-50 px-20 animated fadeIn slow delay-1">
  <section class="card p-30">
    <h2>ارتباط با ما</h2>
    <hr>
    <div class="row">
      <div class="col-sm-5">
        <form *ngIf="obj" #form="ngForm" class="p-20" autocomplete="off" (submit)="submit()">
          <div class="form-group my-10">
            <input type="text" class="form-control" [(ngModel)]="obj.contactus.name" name="name" placeholder="نام خود را وارد نمایید"
              required style="max-width: 300px" />
            <label>نام و نام خانوادگی : </label>
          </div>
          <div class="form-group my-10">
            <input type="text" class="form-control" [(ngModel)]="obj.contactus.email" name="email" placeholder="example@gmail.com"
              required style="max-width: 300px" />
            <label>ایمیل :</label>
          </div>
          <div class="form-group my-10">
            <select class="form-control" [(ngModel)]="obj.contactus.title" name="title" required style="max-width: 400px">
              <option [ngValue]="undefined">انتخاب کنید ...</option>
              <option *ngFor="let item of titles" [ngValue]="item">{{item}}</option>
            </select>
            <label>عنوان :</label>
          </div>
          <div class="form-group my-10">
            <textarea type="text" class="form-control" [(ngModel)]="obj.contactus.text" name="text" placeholder="متن خود را وارد نمایید ..."
              rows="5" required></textarea>
            <label>متن پیام : </label>
          </div>
          <div class="row my-20">
            <div class="py-10 pr-10">
              <input type="text" class="form-control" [(ngModel)]="obj.captcha.value" placeholder="کد امنیتی" name="captchaValue"
                required />
            </div>
            <div class="px-20">
              <ss-misc-captcha [url]="captchaUrl" [(ngModel)]="obj.captcha.key" name="captchaKey" height="45"></ss-misc-captcha>
            </div>
          </div>
          <div class="my-10">
            <button class="btn-blue" [ngClass]="{progress: progress}" [disabled]="form.invalid || progress">ثبت</button>
          </div>
        </form>
        <div *ngIf="message" class="alert-{{color}}">{{message}}</div>
      </div>
      <div class="col-sm-7 p-30">
        <div class="card p-10">
          <img class="w-100" src="images/location.png" alt="" style="display: block">
        </div>
        <p>آدرس: </p>
        <p>تلفن ثابت : </p>
        <p>تلفن همراه : </p>
      </div>
    </div>
  </section>
</div>
