.delete {
    position: absolute;
    top: -10px;
    right: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10px;
    height: 10px;
    padding: 10px;
    color: rgb(122, 28, 28);
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 3px 1px #ccc;
    transition: background-color 300ms ease;
    &:hover {
        background-color: #f5f5f5;
    }
}