<div class="container py-50 px-20 animated fadeIn slow delay-1">
  <section class="card p-30">
    <h2>درباره ما</h2>
    <hr>
    <p>
      شرکت سیگما سافت با هدف انتشار دانش روز به برنامه نویسان عزیز از سال 1397 قصد دارد مرجعی را برای آموزش هر چه بهتر
      فراهم نموده و
      با تمام توان روز به روز به سدد پیشرفت آن میکوشد.
    </p>
    <p>
      لذا خواهشمندیم تا برای هرچه بهتر شدن کیفیت محتوا مطالب در نظرسنجی ها شرکت نموده و مشکلات آموزش ها را اعلام نمایید.
    </p>
    <p>با تشکر</p>

    <h3>نمادهایی که برای پرداخت میتوانید به آن ها اعتماد نمایید</h3>
    <hr>
    <div>
      <img src="images/enamad.png" alt="">
      <img src="images/samandehi.png" alt="">
    </div>
  </section>
</div>
