:host() {
    width:220px;
    height: 0;
    display: block;
    position: relative;
    z-index: 100000000000;
    button {
        text-align: center;
        padding: 6px;
        margin:1px;
        border: none;
        outline: none;
        font-size: 11px;
        border-radius: 3px;
        box-sizing: border-box;
        background-color: #fff;
        &.active {background-color: #1d9781 !important; color: #fff;}
        &:disabled {opacity: .5;}
    }
    >div{
        width:220px;
        display: flex;
        padding: 10px;
        font-size: 12px;
        z-index: 10000000;
        flex-direction: column;
        background-color: #fff;
        box-shadow: 0px 1px 3px 0 #999;
    }
    .header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-bottom: 10px;
        >* { text-align: center; }
        .icon { flex: 1; }
        .today { flex: 3;}
        .month { flex: 5; }
        .year { flex: 4; }
    }
    .content {
        position: relative;
    }
    .weekDays {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 5px 0;
        background-color: #f4f4f4;
        border-bottom: 1px solid #ddd;
        >* {
            flex: 1;
            text-align: center;
        }
    }
    .days {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        font-size: 10px;
        .day {
            transition: background-color 200ms ease, color 200ms ease;
            &:not(:disabled) {
                cursor: pointer;                
                &:hover {background-color: rgba(230, 230, 230, 0.61);}
            }
        }
        >button {
            width:calc(14.28571428571429% - 2px);
        }
        
    }
    .month-dialog,.year-dialog {
        position: absolute;
        top:0;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        transform: scale(0);
        &.show {
            transform: scale(1);
        }
    }
    .year-dialog {
        
    }
    .month-dialog {
        bottom: 0;
        >button {
            width:calc(33.33333% - 2px);
            height: 25%;
            cursor: pointer;
            &:not(:disabled):hover {background-color: rgba(230, 230, 230, 0.61);}
        }
    }
}