<ss-overlay-modal [modal]="modal" [modal-title]="title" (onclose)="onclose.emit()">
    <form>
        <div><ng-content></ng-content></div>
        <div class="p-5" [ngSwitch]="type">
            <textarea *ngSwitchCase="'textarea'" class="form-control" [(ngModel)]="modal.value" name="value"></textarea>
            <input *ngSwitchDefault class="form-control" [(ngModel)]="modal.value" name="value"/>
        </div>
        <div class="row reverse">
            <a id="cancel" class="btn-red px-20" #cancelBtn (click)="cancel()">خیر</a>
            <button id="confirm" class="btn-green px-20 ml-5" #confirmBtn [ngClass]="{progress: modal.progress}" [disabled]="modal.progress" (click)="confirm()">بله</button>
        </div>
    </form>
</ss-overlay-modal>