﻿
@font-face {
  font-family: IranYekan;
  font-style: normal;
  font-weight: normal;
  src: url('eot/iranyekanwebregular.eot');
  src: url('eot/iranyekanwebregular.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
  url('woff2/iranyekanwebregular.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
  url('woff/iranyekanwebregular.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('ttf/iranyekanwebregular.ttf') format('truetype');
}
.IranYekan,.IranYekan *{font-family:IranYekan;}
