<div class="card p-20 animated fadeIn slow delay-1">
  <h3>دوره های خریداری شده</h3>
  <hr>
  <section class="row" *ngIf="items?.length; else elseBlock">
    <app-course-card *ngFor="let item of items" class="col-md-4 col-sm-6 p-15 animated fadeIn slow"
      [course]="item.course"></app-course-card>
  </section>
  <ng-template #elseBlock>
    <div *ngIf="progress" class=" color-black-light font-13">در حال بارگزاری ...</div>
    <div *ngIf="!progress" class="alert-violet">هیچ دوره ای خریداری نشده است</div>
  </ng-template>
</div>
