<div class="card p-20 animated fadeIn slow delay-1">
  <h3>تغییر کلمه عبور</h3>
  <hr>
  <form #form="ngForm" autocomplete="off" (submit)="submit()">
    <div class="my-10">
      <div class="form-group">
        <input type="password" class="form-control" [(ngModel)]="obj.oldPassword" name="oldPassword" required />
        <label>کلمه عبور قدیم : </label>
      </div>
    </div>
    <div class="my-10">
      <div class="form-group">
        <input type="password" class="form-control" [(ngModel)]="obj.newPassword" name="newPassword" required />
        <label>کلمه عبور جدید : </label>
      </div>
    </div>
    <div class="my-10">
      <div class="form-group">
        <input type="password" class="form-control" [(ngModel)]="obj.rePassword" name="rePassword" required />
        <label>تکرار کلمه عبور : </label>
      </div>
    </div>
    <div class="my-10">
      <button class="btn-orange" [ngClass]="{progress: progress}" [disabled]="form.invalid || progress">ثبت اطلاعات</button>
    </div>
    <div *ngIf="message" class="alert-{{color}}">{{message}}</div>
  </form>
</div>
