<div class="container p-20">
  <section class="filter row">
    <div class="col-md-3 col-xs-6 p-10">
      <div class="input-group">
        <input class="form-control" placeholder="جستجو ..." [(ngModel)]="search" />
        <label>جستجو : </label>
      </div>
    </div>
    <div class="col-md-3 col-xs-6 p-10">
      <div class="input-group">
        <select class="form-control" [(ngModel)]="sort">
          <option [ngValue]="'publishTime'">تاریخ انتشار</option>
          <option [ngValue]="'price'">قیمت</option>
        </select>
        <label>مرتب بر اساس : </label>
      </div>
    </div>
    <div class="col-md-3 col-xs-6 p-10">
      <div class="input-group">
        <select class="form-control" [(ngModel)]="type">
          <option [ngValue]="4">همه</option>
          <option [ngValue]="5">رایگان</option>
          <option [ngValue]="2">اعضائ ویژه</option>
          <option [ngValue]="1">فروشی</option>
        </select>
        <label>نوع دوره : </label>
      </div>
    </div>
    <div class="col-md-3 col-xs-6 p-10">
      <div class="input-group">
        <select class="form-control" [(ngModel)]="status">
          <option [ngValue]="4">همه</option>
          <option [ngValue]="1">در حال بارگزاری</option>
          <option [ngValue]="2">تکمیل شده</option>
          <option [ngValue]="7">در صف تولید</option>
        </select>
        <label>وضعیت دوره : </label>
      </div>
    </div>
  </section>
  <section class="courses row">
    <app-course-card *ngFor="let item of getItems() |filterCource:type | filterStatus:status" class="col-lg-3 col-md-4 col-sm-6 p-15 animated fadeIn slow"
      [course]="item"></app-course-card>
  </section>
</div>
