<div class="card p-20 animated fadeIn slow delay-1">
  <h3>نظرات ارسال شده توسط شما</h3>
  <hr>
  <section *ngIf="items?.length; else elseBlock">
    <div *ngFor="let item of items">
      <a class="px-10">
        <i *ngIf="!item.show" (click)="item.show = true" class="mdi mdi-plus color-green"></i>
        <i *ngIf="item.show" (click)="item.show = false" class="mdi mdi-minus color-red"></i>
      </a>
      <a class="color-black-light" (click)="gotoPost(item.post)">{{item.post.title}}</a>
      <hr>
      <div *ngIf="item.show">
        <app-comment *ngFor="let comment of item.comments" class="animated fadeIn slow" [comment]="comment"></app-comment>
      </div>
    </div>
  </section>
  <ng-template #elseBlock>
    <div *ngIf="progress" class=" color-black-light font-13">در حال بارگزاری ...</div>
    <div *ngIf="!progress" class="alert-yellow">هیچ نظری یافت نشد</div>
  </ng-template>
</div>
