<div class="card p-20 animated fadeIn slow delay-1">
  <h3>وضعیت اشتراک ویژه شما</h3>
  <hr>
  <div [ngSwitch]="status">
    <div *ngSwitchCase="3" class="alert-sky">بسته شما {{remainDays}} روز اعتبار دارد</div>
    <div *ngSwitchCase="2" class="alert-orange">بسته شما در حال اتمام است</div>
    <div *ngSwitchCase="1" class="alert-red">بسته شما به اتمام رسیده است</div>
    <div *ngSwitchCase="0" class="alert-blue">شما تا کنون بسته ای خریداری نکرده اید</div>
  </div>
  <div class="buy p-20">
    <form #form="ngForm" autocomplete="off">
      <div class="my-10">
        <select class="form-control" [(ngModel)]="obj.service" name="service">
          <option *ngFor="let item of services" [ngValue]="item">{{item.name}}</option>
        </select>
      </div>
      <div class="my-10">
        <button class="btn-green" [ngClass]="{progress: progress}" [disabled]="form.invalid || progress" (click)="buy()">خرید</button>
      </div>
    </form>
  </div>
  <h4 class="color-gray">لیست اشتراک های خریداری شده تا کنون</h4>
  <hr>
  <div class="data">
    <table class="table bordered green">
      <thead>
        <tr>
          <th width="30px">#</th>
          <th>نوع اشتراک</th>
          <th>تاریخ شروع</th>
          <th>تاریخ انقضا</th>
        </tr>
      </thead>
      <tbody *ngIf="items?.length; else elseBlock">
        <tr *ngFor="let item of items; let index = index">
          <td>{{index + 1}}</td>
          <td>{{item.name}}</td>
          <td>{{item.startTime | jalali}}</td>
          <td>{{item.expireTime | jalali}}</td>
        </tr>
      </tbody>
      <ng-template #elseBlock>
        <tbody>
          <tr>
            <td colspan="3">
              <div *ngIf="progress" class=" color-black-light font-13">در حال بارگزاری ...</div>
              <div *ngIf="!progress">موردی یافت نشد</div>
            </td>
          </tr>
        </tbody>
      </ng-template>
    </table>
  </div>
</div>
