/* You can add global styles to this file, and also import other style files */
body {
  margin: 49px 0 0;
  font-family: sans-serif;
}

pre[class*="language-"] {
  padding: 0 25px !important;
}

main>router-outlet+* {
  display: block;
  min-height: calc(100vh - 349px);
}
