<nav>
  <div class="title">
    <ng-content select="[nav-title=before]"></ng-content>
    <a data-target="admin" (click)="toggle = !toggle"><i class="mdi mdi-menu"></i></a>
    <div *ngIf="panel.module?.name">
      <a>
        <i [ngClass]="panel.module?.icon"></i>&nbsp;&nbsp;
        <span>{{panel.module?.name}}</span>
      </a>
    </div>
    <div *ngIf="panel.modules?.length > 1">
      <a (click)="chooseModule()">تغییر سامانه</a>
    </div>
    <ng-content select="[nav-title=after]"></ng-content>
  </div>
  <div class="option">
    <ng-content select="[nav-option=before]"></ng-content>
    <div class="datetime col">
      <div class="time">
        <span class="hour">{{panel.datetime.getHour() < 10 ? '0' + panel.datetime.getHour() :
          panel.datetime.getHour()}}</span> <span class="qulon px-5">:</span>
        <span class="min">{{panel.datetime.getMinute() < 10 ? '0' + panel.datetime.getMinute() :
          panel.datetime.getMinute()}}</span> </div> <div class="date font-10">{{panel.datetime.format('yyyy/MM/dd')}}</div>
    </div>
    <ng-content select="[nav-option=after]"></ng-content>
  </div>
</nav>
<aside [ngClass]="{toggle:toggle}">
  <ng-content select="[aside=before]"></ng-content>
  <div *ngIf="panel.user" class="user-info">
    <div class="image"><img *ngIf="panel.user.image" [src]="panel.user.image" /></div>
    <span *ngIf="panel.user.name" id="user-name">{{panel.user.name}}</span>
    <small *ngIf="panel.user.description" id="user-description">{{panel.user.description}}</small>
  </div>
  <div class="menu" id="menu">
    <ul>
      <li *ngFor="let menu of panel.module?.menus" [ngClass]="{open:menu.isopen}">
        <a [routerLink]="menu.link" [ngClass]="menu.childrens.length > 0 ? 'menu-toggle' : ''" (click)="toggleMenu(menu)">
          <i [ngClass]="menu.icon"></i><span>{{menu.name}}</span>
        </a>
        <ul *ngIf="menu.childrens.length > 0">
          <li *ngFor="let child of menu.childrens">
            <a [routerLink]="child.link"><i *ngIf="child.icon" [ngClass]="child.icon"></i><span>{{child.name}}</span></a>
          </li>
        </ul>
      </li>
    </ul>
    <ul class="modules" [ngClass]="{show:modulesShow}">
      <li *ngFor="let item of panel.modules">
        <a  [href]="item.link"><i [ngClass]="item?.icon"></i><span>{{item.name}}</span></a>
      </li>
    </ul>
  </div>
  <div class="footer">
    <ng-content select="[aside=footer]"></ng-content>
    <a title="خروج" (click)="logout()"><i class="mdi mdi-power"></i></a>
  </div>
  <ng-content select="[aside=after]"></ng-content>
</aside>
<main [ngClass]="{toggle:toggle}">
  <ng-content select="[main=before]"></ng-content>
  <router-outlet></router-outlet>
  <ng-content select="[main=after]"></ng-content>
  <div class="progress" *ngIf="progress"><span class="progress-round-turquise"></span></div>
</main>
<ng-content select="[footer]"></ng-content>
