<div>
  <input type="file" (change)="onFileChange($event)" multiple #fileInput/>
  <nav class="row py-5">
    <button class="btn-green mx-5" (click)="fileInput.click()"><span>افزودن پیوست</span>&nbsp;<i class="mdi mdi-plus"></i></button>
    <button class="btn-blue mx-5" (click)="uploadAll()" [disabled]="uploadDisabled()"><span>آپلود</span>&nbsp;<i class="mdi mdi-upload"></i></button>
    <button class="btn-yellow mx-5" (click)="cancelAll()" [disabled]="cancelDisabled()"><span>توقف همه</span>&nbsp;<i class="mdi mdi-cancel"></i></button>
    <button class="btn-red mx-5" (click)="removeAll()" [disabled]="removeDisabled()"><span>حذف همه</span>&nbsp;<i class="mdi mdi-recycle"></i></button>
    <button class="btn-orange mx-5" (click)="removeComplete()" [disabled]="removeCompleteDisabled()"><span>حذف پیان یافته ها</span>&nbsp;<i class="mdi mdi-recycle"></i></button>
  </nav>
  <table class="table striped bordered hover">
    <thead>
      <tr>
        <th width="30px">#</th>
        <th>نام</th>
        <th width="100px">نوع</th>
        <th width="100px">اندازه</th>
        <th width="200px">زمان</th>
        <th width="150px">وضعیت</th>
        <th width="150px"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let file of files;let index = index">
          <th>{{index + 1}}</th>
          <th>{{file.name}}</th>
          <th>{{file.type}}</th>
          <th>{{getFormattedSize(file.size)}}</th>
          <th>
            <div class="row">
              <i class="mdi mdi-clock"></i>
              &nbsp;
              <span>{{getFormattedTime(file.time)}}</span>
              &nbsp;
              <span>{{getFormattedSpeed(file.speed)}}</span>
            </div>
          </th>
          <th>{{file.status}}</th>
          <th>
            {{file.progress}}
          </th>
      </tr>
    </tbody>
  </table>
</div>